@page "/gameover"
@inherits FirstPageComponent

<div class="display-4" align="center">Game over</div>
<div class="gameover" align="center">
    <h3>Do you want to try again?</h3>
    <button type="button" class="button-to-Page" @onclick="@NavigateToChoisePage">Yes</button>
    <button type="button" class="button-to-Page" @onclick="@NavigateToLoginPage">No</button>
</div>


@code {

}
