@page "/statistics"
@inherits StatisticsComponent

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var user in Users)
            {
                if (Counter < 20)
                {
                    <tr>
                        <th scope="row">@Counter</th>
                        <td>@user.Email</td>
                        <td>@user.Points</td>
                    </tr>
                    {Counter++;}
                }
            }
        </tbody>
    </table>
